@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: black;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition-property: background-color, grey;
    text-decoration: none;
    border-radius: 5px;
}

.cta:hover{
    color: white;
    background-color: green;
}

/* Nav Section */

#header .wrapper {
    width: 1200px;

}

#header .nav-container{
    background-color: black;
    height: 110px;
}


#header nav {
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 120px;
    width: 95vw;
}

#header nav ul {
    display: flex;
}

#header nav ul li{
    list-style: none;
    margin-right: 50px;
}

#header nav ul li a{
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    letter-spacing: 0.10em;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}
/* Nav Section */




/* Start of Hero Section */
#hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    justify-content: flex-start;
}


#hero .hero-container{
    background-color: white;
    height: 91vh;
    display: flex;
    align-items: center;
}

#hero .wrappers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

#hero .header{
    display: block;
    align-items: center;
    justify-content: space-between;
}

#hero h2{
    font-size: 5rem;
    width: 600px;
    position: relative;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 1rem;

}

#hero p{
    font-size: 15px;
    font-style: italic;
    line-height: 42px;
    width: 500px;
}

#hero .hero-image{
    position: relative;    
    display: block;
    align-items: center;
    padding-left: 100px;
}

#hero .image-size{
    width: 380px;
    height: 730px;
}

/* End of Hero Section */

/* Start of About Section */
#About .about-container{
    color: white;
    padding: 100px;
    background-color:#1db954;
    text-align: center;
}

#About .about-container h1{
    font-size: 40px;
    margin-bottom: 25px;
    letter-spacing: 0.5rem;
}

#About .about-container p{
    padding: 15px;
}

#About p{
    line-height: 42px;
    font-size: 18px
}

/* End of About Section */


/* Start of Download Section */

#Download .download-container{
    color: white;
    padding: 50px;
    background-color: #212121;
    height: 90vh;
    text-align: center;
}

#Download h1{
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 40px;
}

#Download p{
    font-size: 18px;
}

/* End of Download Section */


/* Start of contact section */
#Contact .contact-container{
    color: white;
    padding: 100px;
    background-color: #535353;
    text-align: center;
}

#Contact .contact-container h1{
    font-size: 40px;
    margin-bottom: 25px;
}

#Contact .contact-container p{
    padding: 15px;
    font-size: 18px;
}

#Contact .signup{
    display: flex;
    justify-content: center;
}

#Contact .signup > * {
    margin: 5px;
}

#Contact .signup input{
    width: 100%;
    max-width: 550px;
    padding: 20px 100px 20px 25px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

#Contact .signup button{
    padding: 15px;
    background: #212121;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: white;
}

#Contact .signup button:hover{
    color: white;
    background-color: #1db954;
}

/* End of contact section */

